@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body{
  background: #04071D;
  color: white;
}

section{
  max-width: 80%;
  margin: 0 auto;
}

header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  align-items: center;
  background-image: url(./Assets/background.png), url(./Assets/right.png), url(./Assets/left.png);
  background-position: center, left top, right top;
  background-size: 2400px, auto, auto;
  background-repeat: no-repeat;
}

nav{
  background: linear-gradient(to right, #04071D, #1c1f38);
  display: inline-flex;
  border: 1px solid #20243E;
  border-radius: 13px;
  height: auto;
  padding: 18px 25px;
  gap: 25px;
  margin-top: 35px;
  transition: .5s;
}

nav:hover{
  border: 1px solid #6971A2;
  background: linear-gradient(to right,#212442, #04071D );
}

nav li{
  list-style: none;
  position: relative;
}

nav li a{
  color: #ffffff;
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
}

nav li a::after{
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #6971A2;
  left: 0;
  bottom: -6px;
  transition: .5s;
}

nav li a:hover::after{
  width: 100%;
}

.header_content{
  width: 100%;
  height: calc(100vh - 58px);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_content h1{
  font-size: 72px;
  font-weight: 700;
  width: 70%;
  margin: 30px 0;
  line-height: 1;
}

.header_content h1 span{
  color: #CBACF9;
}

.header_content .headlin{
  color:  #E4ECFF;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header_content .headlin2{
  color:  #E4ECFF;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header_content button{
  margin-top: 35px;
  padding: 18px 32px;
  border-radius: 14px;
  border: 1px solid #20243E;
  background: linear-gradient(to right,#212442, #04071D );
  display: flex; gap: 10px;
  color: #E4ECFF;
  font-size: 18px;
  font-weight: 500;
  align-items: center;
  cursor: pointer;
  transition: .5s;
}

.header_content button:hover{
  border: 1px solid #6971A2;
  background: linear-gradient(to right,#04071D, #212442 );
}

.top_part{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.tl_part{
  width: 58%;
}

.tl_part img{
  width: 100%;
}

.tr_part{
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.tr_part img{
  width: 100%;
}
/* ----------------------------------------------------------------------------------------------------------------------Responsiveness------------------------------------------------------------------------------------------------------------------------ */

@media screen and (width < 768px) {
  header{
    background-image: url(./Assets/background.png);
  }

  nav{
    width: 90%;
    justify-content: center;
  }

  .header_content h1{
    font-size: 44px;
    width: 85%;
    margin: 20px 0;
  }

  .header_content .headlin{
    font-size: 12px;
  }
  .header_content .headlin2{
    font-size: 15px;
    line-height: 1.3;
    max-width: 94%;
  }

  .header_content button{
    width: 90%;
    justify-content: center;
  }

  nav li a{
    font-size: 14px;
  }
}